@font-face {
  font-family: 'OpenSans';
  src: url('./open-sans/open-sans-regular.svg') format('svg'),
  url('./open-sans/open-sans-regular.ttf') format('truetype'),
  url('./open-sans/open-sans-regular.woff') format('woff'),
  url('./open-sans/open-sans-regular.woff2') format('woff2'),
  url('./open-sans/open-sans-regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('./open-sans/open-sans-bold.svg') format('svg'),
  url('./open-sans/open-sans-bold.ttf') format('truetype'),
  url('./open-sans/open-sans-bold.eot') format('embedded-opentype'),
  url('./open-sans/open-sans-bold.woff') format('woff'),
  url('./open-sans/open-sans-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
