.segments-cell {
  //display: table-cell;

  &__title {
    margin: 0 0 3px 0;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #A0B0B9;
    text-transform: uppercase;
  }

  &__content {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
  }

}
